h1{
    font-size: 2.5em;
    color: #009191;
}

h2{
    font-size: 1.7em;
    color: #045a5a;
}

p {
    font-size: 1.1em;
    color: black;
}

body {
  font-family: sans-serif;
  background-color: #FFFFFFFF;
}

#about {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #FFFFFFFF;
}

#stats {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #ffffff;
}

#outer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #FFFFFFFF;
}

#choose {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #FFFFFFFF;
}


#ID {
    color: black;
}

#link {
    color: black;
}

#left {
  float: left;
  width: 17%;
  height: 100%;
  position: fixed;
  background-color: #b14d4d;
  padding-top: calc(calc(100vh - 480px)/2);
}

.left1 {
  width: 100%;
  padding: 20px 0px;
  max-height: 40px;
  text-align: center;
  font-weight: 90;
}

.left1:hover {
  background-color: rgba(202, 193, 193, 0.815);
  color: rgb(124, 123, 123);
}

.left1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
}

.left1 a:hover {
  color: rgb(124, 123, 123);
}



